.main {
    margin-top: 5%;
    display: flex; /* Add flexbox display to make the inputs horizontal */
    justify-content: space-between; /* Add space between the input boxes */
    gap: 10px;

}

input {
    flex: 1;
    margin-right: 5px;
    gap: 10px;
}
